.change-password-btn{
  background: url(https://icons.iconarchive.com/icons/custom-icon-design/flatastic-9/16/Generate-keys-icon.png)
    no-repeat center;
}
.login-btn{
  background: url(https://icons.iconarchive.com/icons/custom-icon-design/flatastic-8/16/Keys-icon.png)
    no-repeat center;
}

.login-form-title{
    background: url(https://icons.iconarchive.com/icons/hopstarter/soft-scraps/16/Lock-Unlock-icon.png)
      no-repeat center;
  }
  
